body {
    margin: 0;
}

#site_header {
    background-image: url("./img/pattern.png");
    height: 180px;
    width: auto;
    background-color: #4ea0ff;
}

#logo {
    height: 200px;
    width: 200px;
    margin-left: 10px;
    padding-top: 100px;
}

.titolo {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

h1 {
    font-size: 40px;
    margin-top: 0%;
    margin-bottom: 0%;
    
}
#autore {
color: #d2d2d2;
font-weight: 550;
margin-top: 0%;
}

.foto-Tim {
    padding: 10px;
}

h6 {
    margin: 0%;
}

.lorem {
    padding: 10px;
}